.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

/* ----------------------------------------------NAV-------------------------------------- */
.ul-class{
  position: relative !important;
}

#ul-id{
  position: relative !important;
}

.li-aplicated{
  background-color: rgb(64 64 64 / var(--tw-bg-opacity));
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center !important;
  flex-direction: column !important;
  height: auto !important;
  padding: 20px;
  transform: translate(-80px, 50px);
}

.li-a-aplicated{
  margin-left: 0 !important;
}

.li{
  z-index: 10000;
}
/* ---------------------------------------------*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#products-container{
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  gap: 16px;
  margin: 10px 5% auto;
}

.productCar {
  border: rgb(205, 203, 203) solid 1px;
  border-radius: 4px;
  padding: 30px 30px 20px 30px
}
.productCar img{
  width: 100%;
  height: auto;
  border-radius: 6px;
  transition: opacity 600ms ease;
}

.title {
  font-weight: 600;
  font-size: larger;
  margin-top: 10px;
}
.description {
  font-size: 1rem;
  color: gray;
}
.model {
  height: 80px;
}

.sort-text {
  display: flex;
  width: 90%;
  align-items: center;
}
.filters-div {
  display: flex;
  margin-top: 10%;
  margin-bottom: 1%;
  justify-content: space-evenly;
}

#dropdown-filter {
  display: flex;
}

#inputSearch {
  width: 800px;
  padding: 10px; 
  font-size: 16px;
  border: 3px solid #ccc;
  border-radius: 25px; 
  outline: none; 
  transition: border-color 0.3s;
}

#inputSearch:focus {
  border-color: #007bff;
}

  #searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.car-container-product-info{
  padding: 20px 0 80px 0;
}

/* interaction stars */
.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}

/* visual stars */
#visualRating {
  display: inline-block;
  direction: rtl;
  font-size: 30px;
}

#visualRating .star-visual {
  float: left;
  color: #666;
  pointer-events: none;
  font-size: 20px;
}

#visualRating .star-visual:before {
  content: '★';
}

#visualRating .filled {
  color: #ffa723;
}




.li-commentary{
  margin: 10px 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 7px;
}


.comments-all-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}



/*------------------------------------------------------- footer -------------------------------------------------------*/
#all-container-similar-products{
  border-top: 1px solid rgba(0, 0, 0, 0.199);
  min-height: 200px;
  max-width: 1200px;
}

#all-container-similar-products h2{
  margin-top: 30px;
  font-size: 23px;
}

#p-similar-products{
  margin-top: 30px;
}

#footer-store-info-text{
  text-align: left;
}

#container-confirmed-suscription{
  display: none;
  padding-top: 80px;
}

#form-newsletter{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

#form-newsletter input{
  height: 30px;
  padding-right: 60px;
  box-sizing: content-box;
  width: 100%;
  color: black;
  padding: 3px 5px;
  border-radius: 8px 0px 0px 8px;
}

#form-newsletter button{
  width: 84px;
  background-color: rgb(121, 121, 121);
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 0 8px 8px 0px;
}






.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}



